body {
    background-color: rgb(2, 2, 71);
}
.dataMeteo {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50%;
}

.box {
    width: 300px;
    height: 300px;
    opacity: 50%;
    font-size: 50px;
    color: white;
    text-align: center;
}

#city {
    background-color: blue;
}
#temp{
    background-color: rgb(192, 192, 216);
}
#humidity {
    background-color: rgb(79, 79, 255);
}
#wind {
    background-color: rgb(87, 149, 255);
}

